body{
    background: black;
    color:aquamarine;
    text-align: center;
}
 H1 A{
 				
 				font-style: none;
   color: aquamarine;
 				
 				}
 			  	
.comment{
  background: #f9f9f9 !important;
  border-left: 10px solid #ccc!important;
  margin: 1.5em 110px !important;
  padding: 0.5em 10px!important;
  text-align: center;
  margin: 20px;
  padding: 20px;
  font-family: Arial,
  Helvetica Neue,
  Helvetica,
  sans-serif !important;
  font-size: 20px! important;
  color: grey !important;
  quotes: "\201C""\201D""\2018""\2019"!important;
}
.comment::before{
  content:openquote !important;
  font-size:4em !important;
  line-height:.1em !important;
  margin-right:.25em !important;
  vertical-align:-.4em !important;
} 

.comment span{ 
  font-size: 20px !important;
  color: grey !important;
  border-top: 4px dotted grey !important;
  border-bottom: 4px dotted grey !important;
  display: inline-block !important;
  padding-right: 5px!important ;
  
}
blockquote a{
  font-style: underline!important ;

}
blockquote{
  
quotes:"\201C""\201D""\2018""\2019"!important ;
} 
blockquote:before {
  color: #ccc !important ;
  content: open-quote! important;
  font-size: 4em !important;
  line-height: .1em !important ;
  margin-right: .25em !important ;
  vertical-align: -.4em !important ;
}

blockquote p {
  display: inline !important;
}