body{
    background: black;
    color:aquamarine;
    text-align: center;
}

H1::after{
    content: "!!!!" ;
    color: green;
  } 
 H1 A{
 				
 				font-style: none;
   color: aquamarine;
 				
 				}
